<ng-container *ngIf="students$| async as students">
  <div class="flex flex-col justify-between">
    <div class="join rounded-full">
      <input [formControl]="this.studentInput" class="input input-bordered bg-base-200 input-primary input-lg join-item"
             [placeholder]="'Ex. '+ randomStudent?.name"/>
      <button class="btn btn-primary bg-base-200 btn-outline btn-lg join-item">
        <i class="fi fi-rr-arrow-alt-circle-right text-2xl"></i>
      </button>
    </div>
    <div *ngIf="studentInput.value as filter">
      <ul class="menu shadow menu-lg absolute w-[352px] bg-base-200 rounded-box z-[1]">
        <li *ngFor="let student of (students | filterStudents:filter)">
          <a (click)="selectStudent(student)" class="flex gap-5">
            <div class="avatar">
              <div class="w-10 mask mask-squircle">
                <img src="https://api.dicebear.com/7.x/avataaars/svg?seed={{student.name}}}&backgroundType=solid&backgroundColor=b6e3f4" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            {{student.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <table class="table w-auto" *ngIf="studentsChosen.length > 0">
    <!-- head -->
    <thead>
    <tr>
      <th>Etudiant</th>
      <th *ngFor="let attribute of randomStudent?.attributes">
        {{attribute._name}}
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of studentsChosen" class="rounded" [ngClass]="{'bg-primary': student.submitAnswer?.isSoluce}">
      <td>
        <div class="flex items-center space-x-3">
          <div class="avatar">
            <div class="mask mask-squircle w-12 h-12">
              <img src="https://api.dicebear.com/7.x/avataaars/svg?seed={{student.name}}}&backgroundType=solid&backgroundColor=b6e3f4" alt="Avatar Tailwind CSS Component" />
            </div>
          </div>
          <div>
            <div class="font-bold">{{student.firstName}} {{student.lastName}}</div>
          </div>
        </div>
      </td>
      <td *ngFor="let attribute of student.attributes; let index = index">
        <label class="swap swap-flip">
          <div class="swap-off">
            <div class="badge badge-base-200">
              {{attribute._value}}
            </div>
          </div>
          <div class="swap-on">
            <div class="badge" [ngClass]="student.submitAnswer!.attributes[index]._value ? 'badge-success' : 'badge-error'">
              {{attribute._value}}
            </div>
          </div>
        </label>
      </td>
    </tr>
  </table>
</ng-container>
