<h3 class="font-bold text-lg">Hello! On se connecte?</h3>
<form [formGroup]="loginForm">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input type="text" class="input input-bordered" formControlName="username">
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Mot de passe</span>
    </label>
    <input type="password" class="input input-bordered" formControlName="passwrd">
  </div>

</form>
