<nav class="navbar bg-opacity-90 backdrop-blur">
  <div class="navbar-start">
    <label for="my-drawer" tabindex="0" class="drawer-button btn btn-ghost btn-circle lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
    </label>
    <button (click)="handleSwitchSideBar()" class="drawer-button btn btn-ghost btn-circle hidden lg:flex">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
    </button>
  </div>
  <div class="navbar-center">
    <h2 class="normal-case text-xl">{{route$ | async}}</h2>
  </div>
  <div class="navbar-end">
    <div *ngIf="(userAuthentified$ | async) else noUser" class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle  avatar">
        <div class="w-10 ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full">
          <img src="https://api.dicebear.com/7.x/avataaars/svg" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-200 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a (click)="handleClickLogOut()">Logout</a></li>
      </ul>
    </div>
    <ng-template #noUser>
      <button onclick="authentificationModal.showModal()" class="btn btn-base-200">Log In</button>
    </ng-template>
  </div>
</nav>
<dialog class="modal" id="authentificationModal">
  <div class="modal-box">
    <app-login-form #loginFormComponent></app-login-form>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Annuler</button>
      </form>
      <form method="dialog">
        <button class="btn btn-primary" (click)="handleSubmit()" [ngClass]="{'btn-disabled': !loginFormComponent.valid}">Se connecter</button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
