/* Style de la section de connexion */
.login-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre "Connexion" */
.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style des étiquettes des champs de formulaire */
.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Style des champs de formulaire */
.login-container input[type="text"],
.login-container input[type="password"] {
    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style du bouton de soumission */
.login-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Style du bouton de soumission au survol */
.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}
