<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <label tabindex="0" class="drawer-button btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
    </label>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">Classique</a>
  </div>
  <div class="navbar-end">
    <button (click)="handleClickLogIn()" class="btn btn-ghost">Log In</button>
  </div>
</nav>
