@import "@flaticon/flaticon-uicons/css/solid/rounded.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.fi{
    line-height: 0.5em;
    vertical-align: -0.15em;

    display: inline-flex;
}
